@import url('https://fonts.cdnfonts.com/css/baloo-da');

:root {
    --primary-color: #5391a8;
    --secondary-color: #824242;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
    --gradiant-color: linear-gradient(90deg, #5c0404 0%, #5c2424 100%);
    --main-border-color: #091585;
}

[data-theme="dark"] {
    --primary-color: #3D8DAF;
    --secondary-color: #824242;
    --font-color: #424242;
    --bg-color: #C8C8C8;
    --heading-color: #292922;
    --gradiant-color: linear-gradient(90deg, #532222 0%, #712020 100%);
    --main-border-color: red;
}

[data-theme="pink"] {
    --primary-color: #3D2B71;
    --secondary-color: #2D7128;
    --font-color: #b15699;
    --bg-color: #d99acd;
    --heading-color: #4f78c4;
    --gradiant-color: linear-gradient(90deg, #891574 0%, #70265c 100%);
    --main-border-color: #548ca9;
}

[data-theme="green"] {
    --primary-color: #2A6F96;
    --secondary-color: #712C22;
    --font-color: #063810;
    --bg-color: #06b44e;
    --heading-color: #096d08;
    --gradiant-color: linear-gradient(90deg, #15894f 0%, #26703f 100%);
    --main-border-color: #a9eb4c;
}

[data-theme="dark-green"] {
    --primary-color: #3b6b3b;
    --secondary-color: #306e33;
    --font-color: #1f702f;
    --bg-color: #1c3d28;
    --heading-color: #3c9c3a;
    --gradiant-color: linear-gradient(90deg, #15894f 0%, #26703f 100%);
    --main-border-color: #377e40;
}


html {
  background-color: var(--bg-color);
}
.svg-settings {
    height: 30px;
    width: 30px;
    float: left;
}
.svg-info {
    height: 30px;
    width: 30px;
    float: right;
}

.svg-disc {
    height: 60px;
    width: 60px;
    float: right;
}


.setting-nav {
    display: flex;
    font-family: 'Baloo Da';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 15px;
/* identical to box height */

float: left;
text-align: center;

color: #FFFFFF;
padding: 10px;
}

.info-nav {
    display: flex;
    font-family: 'Baloo Da';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 15px;
/* identical to box height */

float: left;
text-align: center;

color: #FFFFFF;
float: right;
padding: 10px;
}

.time-nav {
    display: flex;
    font-family: 'Baloo Da';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 15px;
margin-left: 55px;
/* identical to box height */

float: left;
text-align: center;

color: #FFFFFF;
padding: 10px;
}

.navigation {
    box-sizing: border-box;
    
    top: 3%;
    height: 75px;
    width: 874px;

    background: var(--secondary-color);
    border: 3px solid #000000;
    box-shadow: 10px 9px 4px 5px rgba(10, 5, 75, 0.25);
    float: center;
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nav-wrap {
    float: center;
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


a {
    text-decoration: none;
    color: var(--bg-color);
}

.sidebar-1 {
    width: 246px;
    height: 100%;
    background: var(--primary-color);
}

.sidebar-2 {
    width: 246px;
    height: 100%;
    background: var(--primary-color);
}

.align-prop {
    display: flex;
    float: left;
    justify-content: left;

}

.align-prop-1 {
    display: flex;
    float: right;
    justify-content: right;

}

.center-main {
    display: flex;
    float: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.center-main.side-title {
    font-family: 'Baloo Da';
font-style: normal;
font-weight: 400;
font-size: 48px;
/* identical to box height */

text-align: center;
text-decoration-line: underline;
text-transform: uppercase;
color: var(--bg-color);
}

.side-text {
    font-family: 'Baloo Da';
font-style: normal;
font-weight: 400;
font-size: 36px;
/* identical to box height */

text-align: center;
text-decoration-line: underline;

color: var(--bg-color);
}

.github-logo {
    height: 60px;
    width: 60px;
    color: black;
    filter: drop-shadow(8px 10px 4px rgba(1, 77, 9, 0.25));
}

.github-text {
    font-family: 'Baloo Da';
font-style: normal;
font-weight: 400;
font-size: 36px;
padding: 2px;
/* identical to box height */

text-align: center;

color: var(--bg-color);

}

.github-box {
    border: 5px solid #000000;
}

.gba-emu-tile {
    width: 600px;
    height: 70px;
    background: #6BA263;
    border: 3px solid #000000;
}


.gba-tile-wrap {
    display: table;
  margin: 0 auto;
}


.nes-emu-tile {
    width: 600px;
    height: 70px;
    background: #B54C4C;
    border: 3px solid #000000;
}

.snes-emu-tile {
    width: 600px;
    height: 70px;
    background: #e0882a;
    border: 3px solid #000000;
}


.wrapper-tile-1 {
	width:100%;
	margin-bottom: 1%;
}

.tile-text {
    font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 32px;
text-align: center;
color: #000000;
text-decoration: underline;
}

.display-wrapper-1 .gba-tile-wrap {

    clear: none;
}
.gba-tile-wrap {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gba-emu-tile-1 {
    width: 600px;
    height: 70px;
    background: #6BA263;
    border: 3px solid #000000;
    filter: drop-shadow(8px 10px 4px rgba(1, 77, 9, 0.25));
}


.gba-tile-wrap-1 {
}

h1 {
    color: var(--heading-color);
}
main {
   
    background: var(--background-color);
        }
    html {
        text-align: center;
        scroll-behavior: smooth;
    }
body {
    font-family: sans-serif;
     background: var(--bg-color);
     color: var(--font-color);
    }
li {
    font-size: 16px;
    padding: 10px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nes-emu-tile {
    width: 600px;
    height: 70px;
    background: #B54C4C;
    border: 3px solid #000000;
    filter: drop-shadow(8px 10px 4px rgba(126, 13, 13, 0.25));

}

.sega-emu-tile-1 {
    width: 600px;
    height: 70px;
    background: #6480AB;
    border: 3px solid #000000;
    filter: drop-shadow(8px 10px 4px rgba(14, 35, 107, 0.25));
}

.more-emu-tile {
    width: 600px;
    height: 70px;
    background: #BACF64;
    border: 3px solid #000000;  
    filter: drop-shadow(8px 10px 4px rgba(136, 138, 22, 0.25));
}


.wrapper-tile {
	width:100%;
}

.tile-text-1 {
    font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 32px;
text-align: center;
color: #000000;
text-decoration: underline;
}

.center-please {
    padding: 20px;
    float: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .center-please {
        margin: auto;
        width: 50%;
        padding-left: 100px;
    }
    body {
        color: red;
    }
    .center-main.side-title {
        font-family: 'Baloo Da';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    /* identical to box height */
    
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: var(--bg-color)
    }
    .setting-nav {
        display: flex;
        font-family: 'Baloo Da';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 15px;
    /* identical to box height */
    
    float: left;
    text-align: center;
    
    color: #FFFFFF;
    padding: 10px;
    }
    
    .info-nav {
        display: flex;
        font-family: 'Baloo Da';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 15px;
    /* identical to box height */
    
    float: left;
    text-align: center;
    
    color: #FFFFFF;
    float: right;
    padding: 10px;
    }
    .gba-emu-tile-1 {
        width: 350px;
        height: 40px;
        background: #6BA263;
        border: 3px solid #000000;
        filter: drop-shadow(8px 10px 4px rgba(1, 77, 9, 0.25));
    }
    
    
    .nes-emu-tile {
        width: 350px;
        height: 40px;
        background: #B54C4C;
        border: 3px solid #000000;
        filter: drop-shadow(8px 10px 4px rgba(126, 13, 13, 0.25));
    
    }
    
    .sega-emu-tile-1 {
        width: 350px;
        height: 40px;
        background: #6480AB;
        border: 3px solid #000000;
        filter: drop-shadow(8px 10px 4px rgba(14, 35, 107, 0.25));
    }
    
    .more-emu-tile {
        width: 350px;
        height: 40px;
        background: #BACF64;
        border: 3px solid #000000; 
        filter: drop-shadow(8px 10px 4px rgba(136, 138, 22, 0.25)); 
    }

    .gba-emu-tile {
        width: 350px;
        height: 40px;
        background: #6BA263;
        border: 3px solid #000000;
        filter: drop-shadow(8px 10px 4px rgba(1, 77, 9, 0.25));
    }
    
    
    .nes-emu-tile {
        width: 350px;
        height: 40px;
        background: #B54C4C;
        border: 3px solid #000000;
        filter: drop-shadow(8px 10px 4px rgba(126, 13, 13, 0.25));
    }

    .tile-text-1 {
        font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #000000;
    text-decoration: underline;
    }
    .tile-text {
        font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #000000;
    text-decoration: underline;
    }
    .wrapper-tile {
        float: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 8%;
    }
    .wrapper-tile-1 {
        float: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 8%;
        margin-bottom: 3%;
    }
  }


.register-real {
    width: 200px;
    height: 50px;
    background: var(--secondary-color);
    border: 3px solid #000000;
    font-family: 'Baloo Da';
    cursor: pointer;
    color: var(--heading-color);
}

.register-real:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    /* good enough */
}

.register-button {
    padding-right: 75px;
}


.title-stripe::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .title-stripe:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .title-stripe::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #CC2936;
    z-index: -1;
    transition: transform .3s ease;
  }

  
  h1 {
    position: relative;
    font-size: 5rem;
  }
  
  html {
    block-size: 100%;
    inline-size: 100%;
  }
  
  body {
    min-block-size: 100%;
    min-inline-size: 100%;
    margin: 0;
    box-sizing: border-box;
    place-content: center;
    font-family: system-ui, sans-serif;
  }
  body {
    display: grid;
  }
  @media (orientation: landscape) {
    body {
      grid-auto-flow: column;
    }
  }
  

  body {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
  
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.first-stripe::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .first-stripe:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .first-stripe::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #AA4465;
    z-index: -1;
    transition: transform .3s ease;
  }

  .second-stripe::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .second-stripe:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .second-stripe::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #D4E09B;
    z-index: -1;
    transition: transform .3s ease;
  }

  .third-stripe::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .third-stripe:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .third-stripe::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #51344D;
    z-index: -1;
    transition: transform .3s ease;
  }

  .fourth-stripe::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  .fourth-stripe:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .fourth-stripe::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #D76A03;
    z-index: -1;
    transition: transform .3s ease;
  }


  .content-wrap {
    position: relative;
  }
